aiodns==3.0.0
aiohttp==3.7.4.post0
aiohttp-socks==0.7.1
arrow==1.2.2
async-timeout==3.0.1
attrs==21.4.0
beautifulsoup4==4.11.1
cchardet==2.1.7
certifi==2021.10.8
cffi==1.15.0
chardet==4.0.0
charset-normalizer==2.0.12
elastic-transport==8.1.1
elasticsearch==8.1.2
fake-useragent==0.1.11
geographiclib==1.52
geopy==2.2.0
googletransx==2.4.2
idna==3.3
multidict==6.0.2
numpy==1.22.3
pandas==1.4.2
py-cord==2.0.0b7
pycares==4.1.2
pycparser==2.21
PySocks==1.7.1
python-dateutil==2.8.2
python-dotenv==0.20.0
python-socks==2.0.3
pytz==2022.1
requests==2.27.1
schedule==1.1.0
six==1.16.0
soupsieve==2.3.2.post1
stweet==2.0.0
tor-python-easy==0.1.2
typing_extensions==4.1.1
urllib3==1.26.9
yarl==1.7.2
